*
{
    box-sizing: border-box;
    
}

.container
{   height: 600;
    width: 500;
    padding: 30px;
    margin: 110px;
    transform: translate(70%,70%);
    /* height: 500px; */
    align-items: center;
    text-align: center;
    background-color: #36c5bc;
   
}
input[type=text],
input[type=password]{
    font-size: 20px;
    width: 70%;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    background-color: white;
}
.SignInbtn
{
    font-size: 20px;
    width: 70%;
    background-color: black;
    color: white;
}
.SignUpbtn
{
    font-size: 20px;
    width: 70%;
    background-color: black;
    color: white;
}
button{
    size: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.linking
{
    font-size: 20px;
    color: black(149, 144, 144);
}
a
{
    text-decoration: none;
    color: blue;
    font-size: 30px;
    font-weight: bold;
}
form
{
    float: inline-start;
}

h1{
    color: rgb(26, 29, 32);
}
